
.btn-quiz
{
    text-decoration: none;
    position: absolute;
    top:15%;
    right:38%;
    padding: .6rem .8rem;
    text-align:center;
    border-radius: 5px;
    background-color: var(--component-white-color);
    color: var(--component-black-color);
    font-size: 10px;
    border: 1px solid var(--component-black-color);
}
.btn-quiz a{
    text-decoration: none;
}
.quiz-background-img
{
    position: relative;
    width: 100%;
    height: auto;
}
@media screen and (min-width:375px and max-width:650px)
{
    .btn-quiz
    {
        /* top:20%; */
        right:40%;
        padding: .7rem 1rem;
        background-color: var(--component-white-color);
        color: var(--component-black-color);
        border: 1px solid black;
    }
}
@media screen and (min-width:700px)
{
    .btn-quiz
    {
        /* top: 35%; */
        right:45%;
        padding: .7rem 1rem;
        background-color: var(--component-white-color);
        color: var(--component-black-color);
        border: 1px solid black;
    }
}
@media screen and (min-width:1200px)
{
    .btn-quiz
    {
        top: 50%;
        right:40%;
        padding: .7rem 6rem;
        background-color: var(--component-black-color);
        color: var(--component-white-color);
        border: 1px solid black;
        font-size: 1.5rem;
        font-weight: 500;
    }
}
